<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--config fragment 사용 -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<body>
<div class="site-wrap">
    <th:block th:replace="fragment/mobileMenu :: mobileMenuFragment"></th:block>
    <!--header fragment 사용 -->
    <th:block th:replace="fragment/navi :: naviFragment"></th:block>

    <!--content fragment 사용 현재 layout을 사용하는 content fragment의 내용을 삽입한다. -->
    <th:block layout:fragment="content"></th:block>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>