<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default_layout">

  <main class="main-content" th:block layout:fragment="content">
    <input type="hidden" id="boardIdx" th:value="${boardDetail.boardIdx}" />
    <div class="container-fluid photos">
      <div class="row justify-content-center">
        <div class="col-md-6 pt-4"  data-aos="fade-up">
          <h2 class="text-white mb-4">Story 수정</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <form action="#">
                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label for="exampleFormControlSelect1">시</label>
                        <select class="form-control parentsSelect" id="exampleFormControlSelect1">
                          <option th:selected="${parentsDistrict.parentsIdx eq boardDetail.parentsIdx}" th:each="parentsDistrict: ${parentsDistrict}" th:text="${parentsDistrict.districtName}" th:value="${parentsDistrict.parentsIdx}"></option>
                        </select>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label for="exampleFormControlSelect2">구</label>
                        <select class="form-control childSelect" id="exampleFormControlSelect2">
                          <option th:selected="${childDistrict.childIdx eq boardDetail.childIdx}" th:each="childDistrict: ${childDistrict}" th:text="${childDistrict.districtName}" th:value="${childDistrict.childIdx}"></option>
                        </select>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-white" for="boardTitle">제목</label>
                        <input type="text" id="boardTitle" class="form-control" th:value="${boardDetail.boardTitle}">
                      </div>
                    </div>

                    <div class="row form-group mb-5">
                      <div class="col-md-12">
                        <label class="text-white" for="boardContent">내용</label>
                        <textarea name="message" id="boardContent" cols="30" rows="7" class="form-control" th:text="${boardDetail.boardContent}" placeholder="Write your notes or questions here..."></textarea>
                      </div>
                    </div>

                    <div class="mb-3">
                      <form name="dataForm" id="dataForm" onsubmit="return registerAction()">
                        <button id="btn-upload" onclick="fileClick()" type="button"  style="border: 1px solid #ddd; outline: none;">파일 추가</button>
                        <input id="input_file" onChange="fileChange(this)" multiple="multiple" type="file" accept="image/*" style="display:none;">
                        <span style="font-size:10px; color: gray;">※첨부파일은 최대 10개까지 등록이 가능합니다.</span>
                        <br>
                        <br>
                        <br>
                        <div class="data_file_txt" id="data_file_txt">
                          <span>첨부 파일</span>
                          <br />
                          <div id="articlefileChange">
                            <div class="attachDiv" th:each="boardFileInfo, index : ${boardFileInfo}">

<!--                              <a th:href="@{/file-download/} + ${boardFileInfo.fileId}">-->
<!--                                <font th:text="${boardFileInfo.fileId}" style="font-size:12px"></font>-->
<!--                                <img src="/images/file_icon.png" style="width:20px; height:auto; vertical-align: middle; cursor: pointer;">-->
<!--                              </a>-->
                                <a class="beforeDeleteFile" th:attr="fileId=${boardFileInfo.fileIdx}">
                                    <img th:src="@{/api/img/print/} + ${boardFileInfo.fileIdx}" style='width:300px; height:auto; vertical-align: middle; cursor: pointer;'>
                                </a>
                                <br>
                                <br>
                            </div>
                            <br>
                            <br>
                          </div>
                      </form>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-12">
                        <label class="text-white" for="hashTag">해시태그</label>
                        <input type="email" id="hashTag" class="form-control" th:value="${boardDetail.hashTag}">
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-12">
                        <input type="button" value="Send Message" onclick="registerAction()" class="btn btn-primary btn-md text-white">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <th:block th:replace="fragment/footer :: footerFragment"></th:block>
    </div>
  </main>
</html>

<script th:inline="javascript">

  //부모 지역 변경시
  $(".parentsSelect").change(function(){
    var parentsIdx = $(this).val();

    $.ajax({
      type : 'POST'
      ,url : "/getChildDistrict"
      ,dataType : 'json'
      ,data : JSON.stringify(parentsIdx)
      ,contentType: 'application/json'
      ,success : function(result) {

        var html = "";

        for(var i=0; i<result.length; i++){
          console.log(result[i]);
          var childIdx = result[i].childIdx;
          var districtName = result[i].districtName;
          html+= "<option value='"+childIdx+"'>"+districtName+"</option>"
        }
        console.log(html);
        $(".childSelect").html(html);

      },
      error: function(request, status, error) {

      }
    });
  });

  var fileCount = 0;

	//전체 업로드 갯수
	var totalCount = 10;

	//파일 고유 넘버
	var fileNum = 0;

	//첨부파일 배열
	var content_files = new Array();

	//파일 시퀀스들
	var fileIdxs = "";

    //이전에 등록한 파일 삭제 클릭시 시퀀스
	var deleteFileIdxs = [];

    //없는 게시물번호에 들어왔을경우
	if($("#boardIdx").val() == ""){
        alert("해당 게시물은 없는 번호입니다.");
        location.href = "/";
    }

     //삭제버튼클릭
    $(".beforeDeleteFile").click(function(){
        deleteFileIdxs.push($(this).attr("fileid"));
        $(this).parents(".attachDiv").remove();
    });


	//파일 추가 클릭
	function fileClick(){
		$("#input_file").click();
	}

	//파일 change 이벤트
	function fileChange(target){

      var files = target.files;

      //파일 배열 담기
      var filesArr = Array.prototype.slice.call(files);

      if(fileCount + filesArr.length > totalCount){
          alert("파일은 최대 "+totalCount+"개까지 업로드 할 수 있습니다.");
          return false;
      }

      else{
          fileCount = fileCount + filesArr.length;
      }

      // 각각의 파일 배열담기 및 기타
      filesArr.forEach(function (f) {
          var imageUrl = URL.createObjectURL(f);
          var reader = new FileReader();
          reader.onload = function (e) {
          content_files.push(f);
          console.log(content_files)
          $('#articlefileChange').append(
              '<div id="file' + fileNum + '" onclick="fileDelete(\'file' + fileNum + '\')">'
              + "<img src = '"+imageUrl+"' style='width:300px; height:auto; vertical-align: middle; cursor: pointer;'></img>"
              + "<br>"
              + '<font style="font-size:12px">' + f.name + '</font>'
              + '<div/>'
          );
          fileNum++;
        };
        reader.readAsDataURL(f);
      });

      //초기화 한다.
      $("#input_file").val("");

	}

	//파일 삭제
	function fileDelete(fileNum){
		var no = fileNum.replace(/[^0-9]/g, "");
	    content_files[no].is_delete = true;
		$('#' + fileNum).remove();
		fileCount --;
	}

	//파일 저장
	function registerAction(){
		console.log(content_files);
		var form = $("form")[0];
	 	var formData = new FormData(form);
	 	console.log(formData);
		for (var x = 0; x < content_files.length; x++) {
			// 삭제 안한것만 담아 준다.
			if(!content_files[x].is_delete){
				 formData.append("article_file", content_files[x]);
				 formData.append("filePath", "/main");
			}
		}

	   /*
	   * 파일업로드 multiple ajax처리
	   */
		$.ajax({
	   	      type: "POST",
	   	   	  enctype: "multipart/form-data",
	   	      url: "/file-upload",
	       	  data : formData,
	       	  processData: false,
	   	      contentType: false,
	   	      success: function (data) {

                console.log("파일저장 리턴 param")
	   	    	console.log(data)
	   	    	console.log("파일저장 리턴 param")
	   	    	//파일 시퀀스들
	   	    	fileIdxs = data.fileIdxs;
	   	    	if(data.result == "OK"){
	   	    		updateSubmit();
				} else
					alert("서버내 오류로 처리가 지연되고있습니다. 잠시 후 다시 시도해주세요");
	   	      },
	   	      error: function (xhr, status, error) {
	   	    	alert("서버오류로 지연되고있습니다. 잠시 후 다시 시도해주시기 바랍니다.");
			}
		});
	}

  //게시판 등록
	function updateSubmit(){

		//step2. 게시판 등록
		var params = {
			 parentsIdx : $(".parentsSelect").find("option:selected").val()
			,childIdx : $(".childSelect").find("option:selected").val()
			,boardTitle : $.trim($("#boardTitle").val())
			,boardContent : $.trim($("#boardContent").val())
			,boardIdx : $("#boardIdx").val()
			,hashTag : $.trim($("#hashTag").val())
			,useYn : "Y"
			,fileIdxs : fileIdxs
			,deleteFileIdxs : deleteFileIdxs.toString()
			,attachCount : $("#articlefileChange").find("font").length
		}

		if(params.boardTitle == ""){
			alert("제목을 입력해주세요.");
			return false;
		}

		else if(params.boardContent == ""){
			alert("내용을 입력해주세요.");
			return false;
		}

		$.ajax({
	         type : 'POST'
	        ,url : "/update"
	        ,dataType : 'json'
	        ,data : JSON.stringify(params)
	        ,contentType: 'application/json'
	        ,success : function(result) {
				alert("해당글이 정상적으로 등록되었습니다.");
				location.href="/";
	        },
	        error: function(request, status, error) {

	        }
	    })
	}


</script>